.idea/
.gradle/
gradle/

# Eclipse files
**.project
**.settings/
**.classpath

.vscode/

test.csv

 User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

**bin
**build
**.iml
